<section class="overflow-hidden" id="contact">
  <div class="custom-container">
    <div class="row g-sm-4 g-3">
      <div class="col-lg-6">
        <div class="d-block d-md-flex h-100 align-items-center">
          <div class="title title-2 m-0">
            <h2>Kontakt oss for en uforpliktende prat!</h2>
            <p class="w-100 mb-sm-3 mb-2">Du kan kontake oss enten på telefon, e-post eller gjennom chatten.</p>
            <p class="w-100 m-0">Enten om du er ute etter superselgeren Mina, IT eksperten Stian eller kremmerånden
              Selma, står våre dyktige rådgivere klare til å hjelpe deg. Vi ser fram til å høre fra deg!</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div id="hubspotForm" class="form-style"></div>
        <!-- <div class="alert-message" *ngIf="showMessage" (click)="closeMessage()">
          <i class="ri-check-line"></i>
          <h5>{{ showMessage }}</h5>
          <i class="ri-close-line ms-auto"></i>
        </div>
        <form class="form-style" [formGroup]="form">
          <div class="row g-sm-4 g-3">
            <div class="col-xl-12">
              <div>
                <label for="bedriftsnavn" class="form-label">Bedriftsnavn <span>*</span></label>
                <input type="text" class="form-control"
                  [ngClass]="{ 'is-invalid': form.controls['company_name'].touched && form.controls['company_name'].errors?.['required'] }"
                  formControlName="company_name" id="bedriftsnavn" />
                <div *ngIf="form.controls['company_name'].touched && form.controls['company_name'].errors?.['required']"
                  class="text-danger mt-1">Bedriftsnavn er påkrevd</div>
              </div>
            </div>

            <div class="col-xl-6">
              <div>
                <label for="fornavn" class="form-label">Fornavn <span>*</span></label>
                <input type="text" class="form-control"
                  [ngClass]="{ 'is-invalid': form.controls['first_name'].touched && form.controls['first_name'].errors?.['required'] }"
                  formControlName="first_name" id="fornavn" />
                <div *ngIf="form.controls['first_name'].touched && form.controls['first_name'].errors?.['required']"
                  class="text-danger mt-1">Fornavn er påkrevd</div>
              </div>
            </div>

            <div class="col-xl-6">
              <div>
                <label for="etternavn" class="form-label">Etternavn <span>*</span></label>
                <input type="text" class="form-control"
                  [ngClass]="{ 'is-invalid': form.controls['surname'].touched && form.controls['surname'].errors?.['required'] }"
                  formControlName="surname" id="etternavn" />
                <div *ngIf="form.controls['surname'].touched && form.controls['surname'].errors?.['required']"
                  class="text-danger mt-1">Etternavn er påkrevd</div>
              </div>
            </div>

            <div class="col-xl-6">
              <div>
                <label for="e-post" class="form-label">E-post <span>*</span></label>
                <input type="email" class="form-control"
                  [ngClass]="{ 'is-invalid': form.controls['email'].touched && form.controls['email'].errors?.['required'] }"
                  formControlName="email" id="e-post" />
                <div *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['required']"
                  class="text-danger mt-1">E-post er påkrevd</div>
                <div *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['email']"
                  class="text-danger mt-1">Ugyldig epost</div>
              </div>
            </div>

            <div class="col-xl-6">
              <div>
                <label for="telefonnummer" class="form-label">Telefonnummer <span>*</span></label>
                <input type="number" class="form-control"
                  [ngClass]="{ 'is-invalid': form.controls['phone_number'].touched && form.controls['phone_number'].errors?.['required'] }"
                  formControlName="phone_number" id="telefonnummer" />
                <div
                  *ngIf="form.controls['phone_number'].touched && form.controls['phone_number'].errors?.['required'] "
                  class="text-danger mt-1">Telefonnummer er påkrevd</div>
              </div>
            </div>

            <div class="col-xl-12">
              <div>
                <textarea class="form-control" id="comment" formControlName="message"
                  placeholder="Skriv din melding her...*"></textarea>
              </div>
            </div>
          </div>

          <div class="check-box-title">
            <h6>Personvernerklæring *</h6>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
              [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }" formControlName="acceptTerms"
              id="acceptTerms" checked />
            <div>
              <label class="form-check-label w-100" for="acceptTerms">Jeg bekrefter at jeg samtykker til Dreamworks
                personvernerklæring.</label>
              <div *ngIf="form.controls['acceptTerms'].touched && form.controls['acceptTerms'].errors?.['required'] "
                class="invalid-feedback d-block">Godta vilkårene kreves</div>
            </div>
          </div>

          <button class="btn btn-solid mt-4" type="submit" [disabled]="!form.value" (click)="sendMail()">Send
            inn</button>
        </form> -->
      </div>
    </div>
  </div>
</section>