<section class="overflow-hidden">
  <div class="custom-container">
    <div class="value-section-bg">
      <div class="value-left-title">
        <h2>Våre verdier</h2>
        <p>Våre verdier er viktige for oss og grunnmuren i alt vi gjør.</p>
      </div>

      <!-- <div class="row g-4">
        <div class="col-xxl-4 col-md-6 animate__animated wow animate__fadeInUp" data-wow-delay="0.25s"
          data-wow-duration="0.9">
          <div class="value-box">
            <div class="value-icon">
              <svg>
                <use xlink:href="assets/svg/_values.svg#passionate"></use>
              </svg>
            </div>

            <div class="value-content">
              <div>
                <h2>Lidenskapelige</h2>
                <p>Vi gir alltid det lille ekstra og jobber for at våre kandidater finner drømmejobben, og våre kunder
                  finner drømmekandidaten.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xxl-4 col-md-6 animate__animated wow animate__fadeInUp" data-wow-delay="0.5s"
          data-wow-duration="0.9s">
          <div class="value-box">
            <div class="value-icon">
              <svg>
                <use xlink:href="assets/svg/_values.svg#professionals"></use>
              </svg>
            </div>

            <div class="value-content">
              <div>
                <h2>Profesjonelle</h2>
                <p>Vi gjennomfører arbeidsprosessene hos oss profesjonelt, med punktlighet og faglig tyngde.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xxl-4 col-md-6 animate__animated wow animate__fadeInUp" data-wow-delay="0.75s"
          data-wow-duration="0.9s">
          <div class="value-box">
            <div class="value-icon">
              <svg>
                <use xlink:href="assets/svg/_values.svg#innovation-1"></use>
              </svg>
            </div>

            <div class="value-content">
              <div>
                <h2>Innovative</h2>
                <p>Vi gjør selv det umulige mulig hos oss. Vi ser ingen grenser, og ser boksen fra utsiden.</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <ul class="value-list-box">
        <li>
          <div class="value-box-2">
            <div class="value-icon">
              <svg class="service-image">
                <use xlink:href="assets/svg/_values.svg#lidenskapelige"></use>
              </svg>
            </div>
            <span class="box"></span>
            <div class="value-content">
              <h2>Lidenskapelige</h2>
              <p>Vi gir alltid det lille ekstra og jobber for at våre kandidater finner drømmejobben, og våre kunder
                finner drømmekandidaten.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="value-box-2">
            <div class="value-icon">
              <svg class="service-image">
                <use xlink:href="assets/svg/_values.svg#profesjonelle"></use>
              </svg>
            </div>
            <span class="box"></span>
            <div class="value-content">
              <h2>Profesjonelle</h2>
              <p>Vi gjennomfører arbeidsprosessene hos oss profesjonelt, med punktlighet og faglig tyngde.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="value-box-2">
            <div class="value-icon">
              <svg class="service-image">
                <use xlink:href="assets/svg/_values.svg#innovative"></use>
              </svg>
            </div>
            <span class="box"></span>
            <div class="value-content">
              <h2>Innovative</h2>
              <p>Vi gjør selv det umulige mulig hos oss. Vi ser ingen grenser, og ser boksen fra utsiden.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>