<section>
  <div class="custom-container">
    <div class="vision-mission-box">
      <div class="row">
        <div class="col-xl-6 col-lg-7">
          <div class="mission-image animate__animated wow animate__fadeIn" data-wow-duration="1s">
            <img src="assets/images/mission/1.jpg" class="img-fluid vision-image" alt="mission" />
            <img src="assets/svg/shape/7.svg" class="shape-1" alt="mission" />
            <img src="assets/svg/shape/2.svg" class="shape-2" alt="mission" />
          </div>
        </div>

        <div class="col-xl-6 col-lg-5">
          <div class="mission-content animate__animated wow animate__fadeIn" data-wow-delay="0.3s"
            data-wow-duration="1s">
            <div>
              <div class="title title-2 animate__animated wow animate__fadeIn" data-wow-delay="0.6s"
                data-wow-duration="1s">
                <h2>VISJON OG MISJON</h2>
              </div>

              <ul class="mission-step-list">
                <li class="animate__animated wow animate__fadeIn" data-wow-delay="0.9s" data-wow-duration="1s">
                  <div class="mission-step-box">
                    <div class="step-left">
                      <span></span>
                    </div>

                    <div class="step-right">
                      <h3>Vår visjon</h3>
                      <p>Vår visjon er å lede utviklingen innen rekrutterings- og bemanningsbransjen, med utstrakt bruk
                        av teknologi og digitale verktøy.</p>
                    </div>
                  </div>
                </li>

                <li class="animate__animated wow animate__fadeIn" data-wow-delay="1.2s" data-wow-duration="1s">
                  <div class="mission-step-box">
                    <div class="step-left">
                      <span></span>
                    </div>

                    <div class="step-right">
                      <h3>Vår misjon</h3>
                      <p>Vårt fokus er å være innovative og fremtidsrettet partner for våre kunder. I tillegg til
                        nettverk og etablert metodikk, satser Dreamwork sterkt på ny teknologi og digitale kanaler for,
                        til enhver tid, å finne de beste kandidatene for våre partnere.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>