<section class="overflow-hidden home-section">
  <div class="custom-container position-relative">
    <div class="shape-image d-lg-block d-none">
      <img src="assets/svg/shape/4.svg" alt="" class="shape-1" />
      <img src="assets/svg/shape/5.svg" alt="" class="shape-2" />
      <img src="assets/svg/shape/6.svg" alt="" class="shape-3" />
    </div>
    <div class="scroll-text wow animate__fadeIn" data-wow-duration="2.4s">
      <span>Scroll</span>
      <svg>
        <use xlink:href="assets/svg/scroll.svg#scroll"></use>
      </svg>
    </div>
    <div class="row g-lg-5 g-sm-4 g-3">
      <div class="col-lg-6 col-12">
        <div class="home-content">
          <h1 class="wow animate__fadeIn" data-wow-duration="1s">Vi er Dreamwork</h1>
          <p class="para-sm wow animate__fadeIn" data-wow-duration="2.2s">
            Dreamwork er et landsdekkende HR-tech konsulentbyrå som leverer rekrutterings- og bemanningstjenester. <a
              href="https://dreamwork.no/tech/">Gjennom utstrakt bruk av teknologi og digitale verktøy finner vi
              drømmekandidatene.</a> Vi er fagspesialister innenfor vårt segment, og din
            profesjonelle sparringspartner gjennom hele rekrutteringsprosessen.
          </p>
        </div>
      </div>

      <div class="col-6 d-lg-block d-none">
        <div class="home-images">
          <div class="image-one wow animate__fadeIn" data-wow-duration="1.5s">
            <img src="assets/images/people/1.jpg" class="img-fluid" alt="company" />
            <img src="assets/svg/shape/1.svg" class="shape-1" alt="" />
            <img src="assets/svg/shape/2.svg" class="shape-2" alt="" />
          </div>
          <div class="image-two wow animate__fadeIn" data-wow-duration="1.8s">
            <img src="assets/images/people/2.jpg" class="img-fluid" alt="company" />
            <img src="assets/svg/shape/3.svg" class="shape-1" alt="" />
          </div>
        </div>
      </div>

      <div class="col-lg-7 col-12">
        <div class="home-images pb-4">
          <div class="image-three wow animate__fadeIn" data-wow-duration="3s">
            <img src="assets/images/people/3.jpg" class="img-fluid" alt="company" />
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-12">
        <div class="home-content home-content-2 animate__fadeInUp animate__fadeIn" data-wow-duration="3.5s">
          <!-- <h1 class="work-content">REAMWORK</h1> -->
          <p class="para-lg">
            Vårt fokus er å være en innovativ og fremtidsrettet partner for våre kunder. I tillegg til nettverk og
            etablert metodikk, investerer Dreamwork sterkt i ny teknologi og digitale kanaler for til enhver tid å finne
            de beste kandidatene for våre samarbeidspartnere. Vi tilpasser alle våre
            rekrutterings- og bemanningsprosesser til våre kunders behov. Med skreddersydde løsninger og verktøy sikrer
            vi effektivitet og kvalitet i rekrutteringsprosessen.
          </p>

          <p class="para-lg pt-2">Dreamwork er innvilget generelt fritak fra solidaransvar og baserer sin virksomhet på
            NS-EN ISO 9001:2000. Dreamwork er godkjent av arbeidstilsynet. Vi tar personvern på alvor.</p>
          <p class="para-lg pt-2">
            <a href="https://dreamwork.no/personvernerklaering/" class="text-green"> Les mer her om hvordan vi håndterer
              dette.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>