<section class="wow slideOutDown">
  <div class="custom-container">
    <div class="company-box">
      <div class="title text-center title-big animate__animated wow animate__fadeInUp" data-wow-duration="1s">
        <h2>Vi jobber med noen av Norges beste arbeidsplasser, med spennende karrieremuligheter.</h2>
        <p>Vi setter pris på hver og en av våre kunder og er opptatte av å ha tett oppfølging med kunden gjennom hele
          prosessen. Det viktigste for oss er deg. Her er noen av de spennende kundene vi har fått æren av å samarbeide
          med.</p>
      </div>
      <div class="company-name-box">
        <div class="row gx-4 gy-5">
          <div class="col-xxl-3 col-lg-4 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay="0.3s"
            data-wow-duration="1s">
            <div class="company-image">
              <img src="assets/images/brand/thorn.png" class="img-fluid" alt="" />
            </div>
            <div class="company-content">
              <p>Jeg ville anbefalt Dreamwork for alle bransjer som tør å satse på litt yngre arbeidssøkere.</p>
              <a href="https://dreamwork.no/intervju-med-thorn-privat-finans/"
                class="btn service-button position-sm-absolute bottom-0 start-0">
                <span>Les mer</span>
                <svg>
                  <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </div>

          <div class="col-xxl-3 col-lg-4 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay="0.4s"
            data-wow-duration="1s">
            <div class="company-image">
              <img src="assets/images/brand/innovation.webp" class="img-fluid" alt="" />
            </div>
            <div class="company-content">
              <p>Jeg vet at kandidatene blir behandlet på en bra måte hos Dreamwork.</p>
              <a href="https://dreamwork.no/innovation-support-og-dreamwork/"
                class="btn service-button position-sm-absolute bottom-0 start-0">
                <span>Les mer</span>
                <svg>
                  <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </div>

          <div class="col-xxl-3 col-lg-4 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay="0.5s"
            data-wow-duration="1s">
            <div class="company-image">
              <img src="assets/images/brand/sprell.webp" class="img-fluid" alt="" />
            </div>
            <div class="company-content">
              <p>Vi kan anbefale Dreamwork Retail på det varmeste.</p>
              <a href="https://dreamwork.no/rekruttering-av-nye-butikksjefer-til-sprell/"
                class="btn service-button position-sm-absolute bottom-0 start-0">
                <span>Les mer</span>
                <svg>
                  <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </div>

          <div class="col-xxl-3 col-lg-4 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay="0.6s"
            data-wow-duration="1s">
            <div class="company-image">
              <img src="assets/images/brand/skousen.png" class="img-fluid" alt="" />
            </div>
            <div class="company-content">
              <p>Dreamwork er en sparringspartner, vel så mye som en rekrutterer.</p>
              <a href="https://dreamwork.no/hvem-er-skousen-og-forholdet-til-dreamwork/"
                class="btn service-button position-sm-absolute bottom-0 start-0">
                <span>Les mer</span>
                <svg>
                  <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </div>

          <div class="col-xxl-3 col-lg-4 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay="0.7s"
            data-wow-duration="1s">
            <div class="company-image">
              <img src="assets/images/brand/visavi.webp" class="img-fluid" alt="" />
            </div>
            <div class="company-content">
              <p>Det som for meg skilte seg virkelig ut, var ærligheten fra Dreamwork, og at de var tilgjengelige.</p>
              <a href="https://dreamwork.no/hvem-er-visavi-technology-og-hvordan-har-samarbeidet-med-dreamwork-vaert/"
                class="btn service-button position-sm-absolute bottom-0 start-0">
                <span>Les mer</span>
                <svg>
                  <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </div>

          <div class="col-xxl-3 col-lg-4 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay="0.8s"
            data-wow-duration="1s">
            <div class="company-image">
              <img src="assets/images/brand/dintero.png" class="img-fluid" alt="" />
            </div>
            <div class="company-content">
              <p>Vårt samarbeid med Dintero førte til fire ansettelser høsten 2021.</p>
              <a href="https://dreamwork.no/for-arbeidsgivere/kundereferanser/dintero/"
                class="btn service-button position-sm-absolute bottom-0 start-0">
                <span>Les mer</span>
                <svg>
                  <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </div>

          <div class="col-xxl-3 col-lg-4 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay="0.9s"
            data-wow-duration="1s">
            <div class="company-image">
              <img src="assets/images/brand/god.webp" class="img-fluid" alt="" />
            </div>
            <div class="company-content">
              <p>Vårt samarbeid med Godt Levert førte til rekruttering av ny, engasjert HR-sjef.</p>
              <a href="https://dreamwork.no/for-arbeidsgivere/kundereferanser/godt-levert/"
                class="btn service-button position-sm-absolute bottom-0 start-0">
                <span>Les mer</span>
                <svg>
                  <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </div>

          <div class="col-xxl-3 col-lg-4 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay="1s"
            data-wow-duration="1s">
            <div class="company-image">
              <img src="assets/images/brand/procano.webp" class="img-fluid" alt="" />
            </div>
            <div class="company-content">
              <p>De har rekruttert på våre verdier, samtidig som de har sine egne meninger.</p>
              <a href="https://dreamwork.no/hvem-er-procano-og-hvordan-har-samarbeidet-med-dreamwork-vaert/"
                class="btn service-button position-sm-absolute bottom-0 start-0">
                <span>Les mer</span>
                <svg>
                  <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>