/*=====================
    Variables start
==========================*/

// font family
$dmsans: "DM Sans",
sans-serif;

// icon font family
$remixicon: remixicon !important;

// marketing agency variables
$black: #000000;
$white: #ffffff;
$primary-color: #262b47;
$space-blue: #035B77;
$light-text: rgba($primary-color, 0.8);
$label-text: #757575;
$green-color: #61d341;
$border-color: #e6e6e6;
$light-bg: #f7f7f7;
$dark-blue: #132431;
$light-grey: #f7f9fa;
$light-green: #3AC9B2;
$silver-color: #F8FDFC;
