<section class="wow slideOutDown overflow-hidden">
  <div class="custom-container">
    <div class="row g-4">
      <div class="col-xxl-6 order-xxl-2">
        <owl-carousel-o [options]="customOptions" class="hvordan-slider animate__animated wow animate__fadeInUp"
          data-wow-delay=".2s">
          <ng-template carouselSlide>
            <p class="w-100 m-0">Vi er et rekrutteringsbyrå som satser stort på ny teknologi og digitale kanaler for å
              finne de beste kandidatene, og tar i bruk flere ulike rekrutteringsverktøy og prosesser som blant annet:
            </p>
          </ng-template>
          <ng-template carouselSlide>
            <p class="w-100 m-0">Vi er et rekrutteringsbyrå som satser stort på ny teknologi og digitale kanaler for å
              finne de beste kandidatene, og tar i bruk flere ulike rekrutteringsverktøy og prosesser som blant annet:
            </p>
          </ng-template>
          <ng-template carouselSlide>
            <p class="w-100 m-0">Vi er et rekrutteringsbyrå som satser stort på ny teknologi og digitale kanaler for å
              finne de beste kandidatene, og tar i bruk flere ulike rekrutteringsverktøy og prosesser som blant annet:
            </p>
          </ng-template>
        </owl-carousel-o>

        <div class="hvordan-image animate__animated wow animate__fadeIn" data-wow-delay=".2s" data-wow-duration="1s">
          <div class="candidates-image">
            <img src="assets/images/people/4.jpg" class="img-fluid" alt="SLIK JOBBER VI" />
            <img src="assets/svg/shape/7.svg" class="shape-1" alt="" />
            <img src="assets/svg/shape/2.svg" class="shape-2" alt="" />
          </div>
          <a href="#contact" class="btn btn-solid d-inline-block">Kontakt oss</a>
        </div>
      </div>
      <div class="col-xxl-6">
        <div class="title title-2 animate__animated wow animate__fadeInUp" data-wow-duration="1.8s">
          <h2 class="">Slik jobber vi</h2>
        </div>
        <div class="row g-4">
          <div class="col-sm-6 animate__animated wow animate__fadeIn" data-wow-duration="1.5s">
            <div class="hvordan-box">
              <div class="hvordan-left">
                <div class="hvordan-number">
                  <h4>1</h4>
                </div>
              </div>
              <div class="hvordan-right">
                <h3>Proaktivt søk</h3>
                <p>Våre dedikerte rådgivere har flere hundre potensielle kandidater på intervju hver uke.</p>
                <!-- <a href="https://www.unimicro.no/" class="btn service-button">
                  <span>Les mer</span>
                  <svg>
                    <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                  </svg>
                </a> -->
              </div>
            </div>
          </div>

          <div class="col-sm-6 animate__animated wow animate__fadeIn" data-wow-duration="1.5s">
            <div class="hvordan-box">
              <div class="hvordan-left">
                <div class="hvordan-number">
                  <h4>2</h4>
                </div>
              </div>
              <div class="hvordan-right">
                <h3>Stor Data</h3>
                <p>Ved å bruke store datasett, innovativ teknologi og egenutviklede kampanjer, finner vi kandidater som
                  ikke aktivt søker jobb.</p>
                <!-- <a href="https://www.unimicro.no/" class="btn service-button">
                  <span>Les mer</span>
                  <svg>
                    <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                  </svg>
                </a> -->
              </div>
            </div>
          </div>

          <div class="col-sm-6 animate__animated wow animate__fadeIn" data-wow-duration="1.5s">
            <div class="hvordan-box">
              <div class="hvordan-left">
                <div class="hvordan-number">
                  <h4>3</h4>
                </div>
              </div>
              <div class="hvordan-right">
                <h3>Sosiale medier ekspertise</h3>
                <p>Vi jobber målrettet med sosiale medier, og har tilgang til egne spesialverktøy for å finne de beste
                  kandidatene, også når de ikke er aktive jobbsøkere.</p>
                <!-- <a href="https://www.unimicro.no/" class="btn service-button">
                  <span>Les mer</span>
                  <svg>
                    <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                  </svg>
                </a> -->
              </div>
            </div>
          </div>

          <div class="col-sm-6 animate__animated wow animate__fadeIn" data-wow-duration="1.5s">
            <div class="hvordan-box">
              <div class="hvordan-left">
                <div class="hvordan-number">
                  <h4>4</h4>
                </div>
              </div>
              <div class="hvordan-right">
                <h3>Personlighetsanalyse</h3>
                <p>Gjennom <a href="https://dreamwork.no/dreamwork-assessment/">Dreamwork Assessment</a> får vi en
                  bredere forståelse for kandidatenes myke verdier. Og sørger for at det blir en god match for våre
                  kunder.</p>
                <!-- <a href="https://www.unimicro.no/" class="btn service-button">
                  <span>Les mer</span>
                  <svg>
                    <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                  </svg>
                </a> -->
              </div>
            </div>
          </div>

          <div class="col-sm-6 animate__animated wow animate__fadeIn" data-wow-duration="1.5s">
            <div class="hvordan-box">
              <div class="hvordan-left">
                <div class="hvordan-number">
                  <h4>5</h4>
                </div>
              </div>
              <div class="hvordan-right">
                <h3>Tverrfaglig team</h3>
                <p>I Dreamwork får du utbytte av hele virksomheten – ikke bare den enkelte konsulenten. Som kunde hos
                  oss får du rådgivere som samarbeider på tvers av avdelingene for å løse din bedrifts behov.</p>
                <!-- <a href="https://www.unimicro.no/" class="btn service-button">
                  <span>Les mer</span>
                  <svg>
                    <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                  </svg>
                </a> -->
              </div>
            </div>
          </div>

          <div class="col-sm-6 animate__animated wow animate__fadeIn" data-wow-duration="1.5s">
            <div class="hvordan-box">
              <div class="hvordan-left">
                <div class="hvordan-number">
                  <h4>6</h4>
                </div>
              </div>
              <div class="hvordan-right">
                <h3>Employment branding</h3>
                <p>Employment branding er med på å gjøre din bedrift mer attraktiv for arbeidstakere. Ved bruk av
                  avansert teknologi, erfarne rådgivere og brukervennlige stillingsannonser tiltrekker vi oss de riktige
                  kandidatene, samtidig som vi fremmer din merkevare.</p>
                <!-- <a href="https://www.unimicro.no/" class="btn service-button">
                  <span>Les mer</span>
                  <svg>
                    <use xlink:href="assets/svg/service/arrow.svg#arrow"></use>
                  </svg>
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>