<section class="overflow-hidden">
  <div class="custom-container-big">
    <div class="title text-center animate__animated wow animate__fadeInUp" data-wow-duration="1s">
      <h2>Møt vårt team</h2>
      <p class="w-100">
        Dreamwork består av dyktige rådgivere som alltid gir det lille ekstra for at kandidatene og kundene skal lykkes,
        og et markedsføringsteam som hjelper oss med å være til stede der det skjer. Vi består også av en fantastisk
        regnskapsavdeling og vår dyktige ledergruppe. Gjennom utstrakt bruk av
        teknologi og digitale verktøy finner vi drømmekandidatene.
      </p>
    </div>

    <div class="row">
      <div class="col-xl-4 col-sm-6 animate__animated wow animate__fadeInUp" data-wow-delay="0.3s"
        data-wow-duration="1s">
        <div class="team-box">
          <div class="team-image team-dp-1">
            <img src="assets/images/team/1.jpg" class="img-fluid" alt="team" />
          </div>
          <div class="team-content">
            <h3>Ulf Edén <span>(CSO)</span></h3>
            <ul class="contact-list">
              <li>Mobile : <span>(+47) 46 38 89 10</span></li>
              <li>Email : <a href="mailto:ue@dreamwork.no"><span>ue@dreamwork.no</span></a></li>
            </ul>
            <a href="https://www.linkedin.com/in/ulf-pamnell-ed%C3%A9n-84709254/">
              <i class="ri-linkedin-box-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 animate__animated wow animate__fadeInUp" data-wow-delay="0.6s"
        data-wow-duration="1s">
        <div class="team-box">
          <div class="team-image team-dp-2">
            <img src="assets/images/team/2.jpg" class="img-fluid" alt="team" />
          </div>
          <div class="team-content">
            <h3>Dag Armand Iversen <span>(COO)</span></h3>
            <ul class="contact-list">
              <li>Mobile : <span>(+47) 95 79 94 83</span></li>
              <li>Email : <a href="mailto:dai@dreamwork.no"><span>dai@dreamwork.no</span></a></li>
            </ul>
            <a href="https://www.linkedin.com/in/dagarmandiversen/">
              <i class="ri-linkedin-box-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 animate__animated wow animate__fadeInUp" data-wow-delay="0.9s"
        data-wow-duration="1s">
        <div class="team-box">
          <div class="team-image team-dp-3">
            <img src="assets/images/team/3.jpg" class="img-fluid" alt="team" />
          </div>
          <div class="team-content">
            <h3>Soheil Seyedi <span>(CEO)</span></h3>
            <ul class="contact-list">
              <li>Mobile : <span>(+47) 400 555 10</span></li>
              <li>Email : <a href="mailto:ss@dreamwork.no"><span>ss@dreamwork.no</span></a></li>
            </ul>
            <a href="https://www.linkedin.com/in/soheilseyedi/">
              <i class="ri-linkedin-box-fill"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>