<!--custom cursor start -->
<ngx-cursor class="cursor"></ngx-cursor>
<!--custom cursor start -->

<!-- header start -->
<app-header></app-header>
<!-- header end -->

<!-- home section start -->
<app-banner></app-banner>
<!-- home section end -->

<!-- Section Divider Start -->
<app-section-title [section]="data"></app-section-title>
<!-- Section Divider End -->

<!-- Service Section Start -->
<app-section2></app-section2>
<!-- Service Section End -->

<!-- Section Divider Start -->
<app-section-title [section]="data2"></app-section-title>
<!-- Section Divider End -->

<!-- How We Do It Section Start -->
<app-section3></app-section3>
<!-- How We Do It Section End -->

<!-- Logo Section Start -->
<app-logo-section></app-logo-section>
<!-- Logo Section End -->

<!-- Our value Section Start -->
<app-our-values></app-our-values>
<!-- Our value Section End -->

<!-- Section Divider Start -->
<app-section-title [section]="data3"></app-section-title>
<!-- Section Divider End -->

<!-- Company Section Start -->
<app-work></app-work>
<!-- Company Section End -->

<!-- Section Divider Start -->
<app-section-title [section]="data4"></app-section-title>
<!-- Section Divider End -->

<!-- Our Team Section Start -->
<app-our-team></app-our-team>
<!-- Our Team Section End -->

<!-- Vision And Mission Section Start -->
<app-vision-and-mission></app-vision-and-mission>
<!-- Vision And Mission Section End -->

<!-- Section Divider Start -->
<app-section-title [section]="data5"></app-section-title>
<!-- Section Divider End -->

<!-- Content Section Start -->
<app-contact-us></app-contact-us>
<!-- Content Section End -->

<!-- Question Section Start -->
<section>
  <div class="custom-container">
    <div class="question-box">
      <div class="title text-center animate__animated wow animate__fadeInUp" data-wow-duration="1s">
        <h2>Har du spørsmål?</h2>
      </div>
      <div class="row g-sm-4 g-3">
        <div class="col-xl-4 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay=".3s" data-wow-duration="1">
          <div class="question-box-content">
            <div class="question-icon">
              <lord-icon src="https://cdn.lordicon.com/gzmgulpl.json" trigger="loop"
                colors="outline:#262b47,primary:#3ddbbf,secondary:#f7f9fa"> </lord-icon>
            </div>

            <div class="question-content">
              <h3>Send e post</h3>
              <h6>E-post : <span>post@dreamwork.no</span></h6>
              <a href="mailto:post@dreamwork.no" class="btn btn-outline-solid question-button">Send oss e-post</a>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay=".5s" data-wow-duration="1">
          <div class="question-box-content">
            <div class="question-icon">
              <lord-icon src="https://cdn.lordicon.com/bjnaomnr.json" trigger="loop" delay="2000"
                colors="outline:#121331,primary:#fff,secondary:#fff,tertiary:#3ddbbf"> </lord-icon>
            </div>

            <div class="question-content">
              <h3>Ring sentralbordet</h3>
              <p>Nå oss på telefon ved å kontakte sentralbordet. Vi er tilgjengelig fra 08.00 - 16.30</p>
              <a href="tel:24022032" class="btn btn-outline-solid question-button">Ring 240 22 032</a>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay=".7s" data-wow-duration="1">
          <div class="question-box-content">
            <div class="question-icon">
              <lord-icon src="https://cdn.lordicon.com/fihkmkwt.json" trigger="loop"
                colors="outline:#121331,primary:#121331,secondary:#3ddbbf"> </lord-icon>
            </div>

            <div class="question-content">
              <h3>Besøk oss</h3>
              <p>Gjerdrumsvei 11, 0484 Oslo. 6 etg. rett ved akerselva.</p>
              <a href="https://goo.gl/maps/yyEci95UUT9GKGUf9" class="btn btn-outline-solid question-button">Få
                veibeskrivelse</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Question Section End -->

<!-- News Letter Section Start -->
<app-news-letter></app-news-letter>
<!-- News Letter Section End -->

<!-- Help Section Start -->
<app-help-you></app-help-you>
<!-- Help Section End -->

<!-- Footer Section Start -->
<app-footer></app-footer>
<!-- Footer Section End  -->