<section>
  <div class="custom-container">
    <div class="news-letter-box">
      <div class="title text-center title-white animate__animated wow animate__fadeIn" data-wow-duration="1s">
        <h2>Meld deg på vårt nyhetsbrev</h2>
      </div>
      <div id="newsLetter" class="newsletter-form"></div>

      <!-- <form class="newsletter-form animate__animated wow animate__fadeIn" data-wow-delay=".2s" data-wow-duration="1s">
        <div class="row g-sm-3 g-2">
          <div class="col-sm-6">
            <div>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Full navn*" />
            </div>
          </div>
          <div class="col-sm-4">
            <div>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Din e - post*" />
            </div>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn h-100 btn-solid w-100 justify-content-center">Submit</button>
          </div>
          <div class="col-12">
            <div class="mt-2 form-check text-center">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" />
              <label class="form-check-label" for="exampleCheck1">Dreamwork trenger kontaktinformasjonen du oppgir for å
                kontakte deg om produktene og tjenestene. Du kan stoppe abonnementet på denne informasjonen når som
                helst. Hvis du vil vite mer om hvordan du stopper abonnement, vår praksis for personvern og hvordan vi
                forplikter oss til å
                beskytte og respektere personvernet ditt, kan du se Retningslinjer for personvern.</label>
            </div>
          </div>
        </div>
      </form> -->
    </div>
  </div>
</section>