<section class="help-section section-b-space" [ngStyle]="{ 'margin-bottom': getHeight() }">
  <div class="custom-container">
    <div class="row overflow-hidden g-sm-4 g-3">
      <div class="col-xl-6">
        <div class="help-image animate__animated wow animate__fadeInUp" data-wow-duration="1s">
          <img src="assets/images/people/5.jpg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-xl-6">
        <div class="title title-2 animate__animated wow animate__fadeIn" data-wow-duration="1s">
          <h2>La oss hjelpe deg!</h2>
        </div>

        <ul class="helping-box-list">
          <li class="animate__animated wow animate__fadeIn" data-wow-delay=".2s" data-wow-duration="1s">
            <a href="https://dreamwork.no/ledige-stillinger/" class="help-box">
              <div class="help-icon">
                <lord-icon src="https://cdn.lordicon.com/osbjlbsb.json" trigger="loop" delay="2000"
                  colors="outline:#262b47,secondary:#b26836,secondary2:#3ddbbf,quaternary:#262b47"> </lord-icon>
              </div>
              <div class="help-content">
                <h3>Søk i ledige stillinger</h3>
                <p>Finn neste drømmejobb hos Dreamwork</p>
              </div>
            </a>
          </li>

          <li class="animate__animated wow animate__fadeIn" data-wow-delay=".4s" data-wow-duration="1s">
            <a href="https://dreamwork.no/for-arbeidsgivere/bestill-medarbeider/" class="help-box">
              <div class="help-icon">
                <lord-icon src="https://cdn.lordicon.com/vusrdugn.json" trigger="loop" delay="2000"
                  colors="primary:#262b47,secondary:#b26836,tertiary:#3ddbbf,quaternary:#f9c9c0,quinary:#ebe6ef">
                </lord-icon>
              </div>
              <div class="help-content">
                <h3>Finn nye medarbeider</h3>
                <p>La oss finne nye medarbeidere for deg</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer class="section-t-space" #myIdentifier>
  <div class="custom-container">
    <div class="row gx-xl-3 gx-lg-5 gx-4 gy-sm-5 gy-4 justify-content-between">
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 animate__animated wow animate__fadeIn" data-wow-duration="1s">
        <a href="#!" class="footer-logo">
          <img src="assets/images/white-logo.svg" class="img-fluid" alt="logo" />
        </a>

        <ul class="footer-contatct">
          <li>
            <a href="#!" class="contact-box">
              <div class="contact-icon">
                <svg>
                  <use xlink:href="assets/svg/_contact.svg#organization"></use>
                </svg>
              </div>
              <div class="contact-contain">
                <h5>Org.nr : 920 750 869</h5>
              </div>
            </a>
          </li>

          <li>
            <a href="#!" class="contact-box">
              <div class="contact-icon">
                <svg>
                  <use xlink:href="assets/svg/_contact.svg#location"></use>
                </svg>
              </div>
              <div class="contact-contain">
                <h5>Gjerdrumsvei 11. 6 etg. 0484 Oslo</h5>
              </div>
            </a>
          </li>

          <li>
            <a href="#!" class="contact-box">
              <div class="contact-icon">
                <svg>
                  <use xlink:href="assets/svg/_contact.svg#call"></use>
                </svg>
              </div>
              <div class="contact-contain">
                <h5>
                  <a href="tel:(+47) 240 22 032">(+47) 240 22 032</a>
                </h5>
              </div>
            </a>
          </li>

          <li>
            <a href="#!" class="contact-box">
              <div class="contact-icon">
                <svg>
                  <use xlink:href="assets/svg/_contact.svg#mail"></use>
                </svg>
              </div>
              <div class="contact-contain">
                <h5><a href="mailto:post@dreamwork.no">post@dreamwork.no</a></h5>
              </div>
            </a>
          </li>
        </ul>

        <ul class="footer-social-list">
          <li>
            <a href="https://www.facebook.com/Dreamwork.no" target="_blank">
              <i class="ri-facebook-fill"></i>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/dreamworkgroupas/" target="_blank">
              <i class="ri-instagram-fill"></i>
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/channel/UCpWc1q58aXW9ivvEdxzrpcw" target="_blank">
              <i class="ri-youtube-fill"></i>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/company/dreamwork-as/" target="_blank">
              <i class="ri-linkedin-fill"></i>
            </a>
          </li>

          <li>
            <a href="https://www.tiktok.com/@dreamworkas" target="_blank">
              <svg>
                <use xlink:href="assets/svg/tiktok.svg#tiktok"></use>
              </svg>
            </a>
          </li>
        </ul>

        <a href="https://dreamwork.flywheelsites.com/" class="sub-footer-contain">
          <h5>
            &copy; 2023 <span><b>d</b>reamwork.</span>
          </h5>
        </a>
      </div>

      <div class="col-xl-2 col-lg-2 col-md-5 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay=".2s"
        data-wow-duration="1s">
        <div class="footer-title">
          <h3>Arbeidsgiver</h3>
        </div>
        <ul class="footer-contact-list">
          <li>
            <a href="https://dreamwork.recman.no/login.php">Logg inn</a>
          </li>
          <li>
            <a href="https://dreamwork.no/for-arbeidsgivere/">For arbeidsgiver</a>
          </li>
          <li>
            <a href="https://dreamwork.no/fagomrader/">Fagområder</a>
          </li>
          <li>
            <a href="https://dreamwork.no/dreamwork-assessment/">Dreamwork Assessment</a>
          </li>
          <li>
            <a href="https://dreamwork.no/category/casestudie/">Kundereferanser</a>
          </li>
        </ul>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay=".4s"
        data-wow-duration="1s">
        <div class="footer-title">
          <h3>Jobbsøker</h3>
        </div>
        <ul class="footer-contact-list">
          <li>
            <a href="https://dreamwork.recman.no/login.php">Logg inn</a>
          </li>
          <li>
            <a
              href="https://dreamwork.recman.no/register.php?__hstc=81720968.7d01779c70d027c65f9a5d3ab9f53b23.1610094396637.1615828820771.1615842541684.49&__hssc=81720968.1.1616143110039&__hsfp=1965059634&hsCtaTracking=716b2cb8-3ea1-491e-a975-609ffe8ff0d1%7Cc1186e70-4c4a-4c4e-88ef-1ab9b4897802">Registrer
              CV</a>
          </li>
          <li>
            <a href="https://dreamwork.no/dreamwork-academy/">Dreamwork Academy</a>
          </li>
          <li>
            <a href="https://dreamwork.no/jobbsoker/testverktoy/">Dreamwork Testverktøy</a>
          </li>
          <li>
            <a href="https://dreamwork.no/for-sokere/">For søkere</a>
          </li>
          <li>
            <a href="https://dreamwork.no/for-vikarer/">For vikarer</a>
          </li>
          <li>
            <a href="https://dreamwork.no/for-sokere/drommejobben/">Drømmejobben</a>
          </li>
          <li>
            <a href="https://dreamwork.no/egenmelding-ved-sykdom/">Egenmelding ved sykdom</a>
          </li>
        </ul>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6 animate__animated wow animate__fadeIn" data-wow-delay=".5s"
        data-wow-duration="1s">
        <div class="footer-title">
          <h3>Nyttige lenker</h3>
        </div>
        <ul class="footer-contact-list">
          <li>
            <a href="https://dreamwork.no/">Hjem</a>
          </li>
          <li>
            <a href="https://om.dreamwork.no/">Dette er Dreamwork</a>
          </li>
          <li>
            <a href="https://dreamwork.no/aktuelt/">Aktuelt</a>
          </li>
          <li>
            <a href="https://dreamwork.no/personvernerklaering/">Personvern</a>
          </li>
          <li>
            <a href="https://dreamwork.no/nettstedskart/">Nettstedskart</a>
          </li>
        </ul>

        <div class="footer-brand">
          <img src="assets/images/footer-logo.svg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</footer>